*{margin: 0;padding: 0;}
html{ font-family: "Microsoft YaHei"; color:#333; font-size:100px;}
html,body{width:100%;min-width:7.5rem;height:100%;background: #f4f4f4;}
li{ list-style:none; }
a{ text-decoration:none; color:#333; }
a img{ border:0; }
img{ vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{ *zoom:1; }
.clearfix:after{ content:""; display:block; clear:both; }
.fl{float: left}
.fr{float: right}
input {/*-webkit-appearance:none;*/outline: none}
.main{width: 7.5rem;margin: 0 auto}
.zg-wrap{margin: 0 auto;width: 7.5rem;}
header {
    width: 7.5rem;
    height: .8rem;
    background: #f2f2f2;
}
header a {
    font:700 .2rem/.4rem "microsoft yahei";
    color:#fff;
}
header a img {
    float: left;
}
header .logo {
    display: block;
    float: left;
    width: 2rem;
    height: .36rem;
    margin-top: .2rem;
    margin-left: .3rem;
}
header .zgfb {
    display: block;
    float: right;
    width: 1.15rem;
    height: .36rem;
    margin-right: .3rem;
    margin-top: .2rem;
}
header .logo img {
    width: .75rem;
    height: .34rem;
    margin-right: .1rem;
}
header .zgfb img {
    width: .27rem;
    height: .24rem;
    margin-top: .12rem;
}
header.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -3.75rem;
    z-index: 899;
}
.navbar {
    box-shadow: none;
    background: rgba(70,70,70,0);
}
.navbar.active {
    background: rgb(255,255,255);
    transition: background 3s;
}
.navbar.active a {
    color:#000;
}
/*footer*/
.foot{
    position: fixed;
    bottom:0;
    width:7.5rem;
    height:.9rem;
    overflow: hidden;
    z-index:999;
}
.foot a{
    float: left;
    width:3.75rem;
    font:.26rem/0.9rem 'Microsoft YaHei';
    text-align: center;
}
.foot a:first-child{
    background: #f2f2f2;
    color: #000;
}
.foot a:first-child img {
    width: .47rem;
    height: .4rem;
    margin-right: .1rem;
}
.foot a:last-child{
    background: #dc2f3c;
    color: #fff;
}
.foot a:last-child img {
    width: .3rem;
    height: .38rem;
    margin-right: .1rem;
}


/*m_banner*/
.mban {
    width: 7.5rem;
    height:10.94rem;
    background: url(../images/m1_01.jpg) no-repeat center top;
    -webkit-background-size: 7.5rem;
    background-size: 7.5rem;
}
.mban h1 {
    text-indent: -9999px;
}
/*zgm1*/
.zgm1 {
    width:7.5rem;
    height:1.13rem;
    background: url(../images/m1_02.jpg) no-repeat center top;
    -webkit-background-size: 7.5rem;
    background-size: 7.5rem;
    display: flex;
    padding-top: 0.15rem;
    box-sizing: border-box;
    /* margin-top: -1px; */
}
.zgm1 .it1{
    flex: 1;
    height:.49rem;
    background: url(../images/01.png) no-repeat center top;
    -webkit-background-size: 2.02rem;
    background-size: 2.02rem;
}
.zgm1 .it2{
    flex: 1;
    height:.49rem;
    background: url(../images/02.png) no-repeat center top;
    -webkit-background-size: 2.1rem;
    background-size: 2.1rem;
}
.zgm1 .it3{
    flex: 1;
    height:.49rem;
    background: url(../images/03.png) no-repeat center top;
    -webkit-background-size: 2.07rem;
    background-size: 2.07rem;
}
/*zgm2*/
.zgm2 {
  width:7.5rem;
  height:auto;
  background: url(../images/m2_02.jpg) no-repeat center top #0060f1;
  padding-bottom: .2rem;
  padding-top: 0.6rem;
  -webkit-background-size: 7.5rem 100%;
  background-size: 7.5rem 100%;
  margin-top: -1px;
  box-sizing: border-box;
}
.zgm2 .m2{
  width:7.43rem;
  height:auto;
  background: url(../images/m2.png) no-repeat center top;
  padding: .2rem  .2rem  .4rem;
  -webkit-background-size: 7.43rem 100%;
  background-size: 7.43rem 100%;
  box-sizing: border-box;
}
.zgm2 h2{
  height:1.63rem;
  background: url(../images/t2.png) no-repeat center top;
  -webkit-background-size: 4.91rem;
  background-size: 4.91rem;
  margin-bottom: 0.2rem;
      margin-top: -.6rem;
}
.zgm2 .nav1{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}
.zgm2 li{
  width: 1.24rem;
  height:.41rem;
  margin:auto;
  background: url(../images/bt2.png) no-repeat center top;
  -webkit-background-size: 1.24rem;
  background-size: 1.24rem;
  box-sizing: border-box;
  font: 400 .24rem/.38rem "microsoft yahei";
  text-align: center;
  color: #a50403;
  margin-bottom: .15rem;
  margin-left: .11rem;
  transition: .2s;

}
.zgm2 li.on,
.zgm3 li.on,
.zgm4 li.on{
background: url(../images/bt1.png) no-repeat center top;
  -webkit-background-size: 1.24rem;
  background-size: 1.24rem;
}
.zgm2 .con{
  display:flex;
  flex-wrap: wrap;
	/* justify-content: space-around; */
}
.zgm2 .con a{
  width: 3.37rem;
  padding:.2rem .1rem;
  background: linear-gradient(to bottom,#5194fa,#0d4ac2);;
  box-sizing: border-box;
  border-radius: .1rem;
 margin-bottom: .2rem;
   margin-left: .1rem;
}
.zgm2 .con img{
  display: block;
  margin: auto;
  margin-bottom: .1rem;
  width: 3.13rem;
  height: 1.76rem;
  border-radius: .1rem;
}
.zgm2 .kc{
  font:500 .24rem "microsoft yahei";
  color:#a50403;
  text-align: left;
  background: linear-gradient(to bottom, #fff4cd,#fadd70);
  border-radius: .1rem;
  width: 3rem;
  margin: auto;
  margin-bottom: .1rem;
  padding: .05rem;
  box-sizing: border-box;
}
.zgm2 .js{
  font:500 .24rem "microsoft yahei";
  color:#fff;
  text-align: left;
  border-bottom:1px solid #fff;
}
.zgm2 .ks{
   font:700 .3rem "microsoft yahei";
      background-image: -webkit-gradient(linear, left top, right top, from(#f9da64), to(#fff6d3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.zgm2 .sj{
  font:500 .24rem "microsoft yahei";
  color:#fff;
  text-align: left;
}
/*zgm3*/
.zgm3 ,
.zgm4{
  width: 7.5rem;
  height: auto;
  padding-top: .6rem;
  padding-bottom: .2rem;
  background: #0060f1;
  margin-top: -1px;
  box-sizing: border-box;
}
.zgm3 h2,.zgm4 h2{
  height:1.63rem;
  background: url(../images/t3.png) no-repeat center top;
  -webkit-background-size: 4.91rem;
  background-size: 4.91rem;
  margin-bottom: 0.2rem;
    margin-top: -.6rem;
}
.zgm3 .m3,.zgm4 .m4{
  width:7.42rem;
  height:auto;
  background: url(../images/m33.png) no-repeat center top;
  padding: .2rem  .2rem  .4rem;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  box-sizing: border-box;
}
.zgm3 .nav2,
.zgm4 .nav3{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}
.zgm3 li,.zgm4 li{
  width: 1.24rem;
  height:.41rem;
  margin:auto;
  background: url(../images/bt2.png) no-repeat center top;
  -webkit-background-size: 1.24rem;
  background-size: 1.24rem;
  box-sizing: border-box;
  font: 400 .24rem/.38rem "microsoft yahei";
  text-align: center;
  color: #a50403;
  margin-bottom: .15rem;
  margin-left: 0.11rem;

}
.zgm3 .con1{
  display:flex;
  flex-wrap: wrap;
	/* justify-content: space-around; */
}
.zgm3 .con1 a{
    width: 3.37rem;
    padding:.2rem .1rem;
    background: linear-gradient(to bottom,#5194fa,#0d4ac2);;
    box-sizing: border-box;
    border-radius: .1rem;
    margin-bottom: .2rem;
    margin-left: .1rem;
}
.zgm3 .con1 img{
  display: block;
  width: 3.13rem;
  height: 1.76rem;
  border-radius: .1rem;
  margin-bottom: .3rem;
}
.zgm3 .con1 .lq,
.zgm4 a{
  display: block;
  width: 1.88rem;
  height: 0.34rem;
  margin: auto;
  background: url(../images/bt3.png) no-repeat center top;
  font: 400 .24rem/.33rem  "microsoft yahei";
  text-align: center;
  color: #a50403;
  background-size: 1.88rem;
}
.contop{
  width: 6.74rem;
  height: auto;
  background: linear-gradient(to bottom,#5194fa,#0d4ac2);
  padding: .2rem;
  box-sizing: border-box;
  border-radius: .1rem;
  margin: .2rem auto;
}
.zgm4 .con2 .zb1{
  height: .86rem;
  margin-bottom: 0.2rem;
  background: url(../images/gkt.png) no-repeat center top;
  background-size: 5.86rem;
}
.zgm4 .con2 .zb2{
  height: .86rem;
  margin-bottom: 0.2rem;
  background: url(../images/jkt.png) no-repeat center top;
  background-size: 5.86rem;
}
.zgm4 .con2 .zb3{
  height: .86rem;
  margin-bottom: 0.2rem;
  background: url(../images/sqt.png) no-repeat center top;
  background-size: 4.16rem;
}
.zgm4 .con2 .zb4{
  height: .86rem;
  margin-bottom: 0.2rem;
  background: url(../images/gqt.png) no-repeat center top;
  background-size: 4.01rem;
}
.zgm4 .con2 .zb5{
  height: .86rem;
  margin-bottom: 0.2rem;
  background: url(../images/jst.png) no-repeat center top;
  background-size:4.16rem ;
}
.zgm4 .con2 p{
	font:400 .24rem/.3rem "microsoft yahei";
	color:#fff;
	text-align: center;
}
.zgm4 .con2 .notice{
	font:400 .3rem "microsoft yahei";
	color:#ffff00;
  text-align: center;
  margin-bottom: 0.1rem;
}
.zgm4 .con2 img{
  width: 6.6rem;
  /* height: 4.62rem; */
  display: block;
  margin: auto;
  margin-bottom: .2rem;
}
.lbs{
  display: flex;
  justify-content: space-around;
}
.zgm4  .lbs img{
  width: 2.15rem;
  height: 1.87rem;
}